/* Home.css */

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #131543;
    color: white;
    flex-direction: column;
    
}

.home-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    
}

.logoHome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
}

.logoHome img {
    max-width: 100%;
    height: auto;
    display: block;
}
.slogan {
    text-align: center; /* Centraliza o texto */
    font-family: 'Roboto', sans-serif; /* Altere a fonte conforme necessário */
    font-size: 1.2em; /* Ajuste o tamanho da fonte conforme necessário */
    color: #FFFF; /* Cor do texto */
    margin: 20px auto; /* Espaçamento externo */
    max-width: 600px; /* Largura máxima do contêiner */
  }
  
  .slogan p {
    margin: 0; 
    line-height: 1.0; 
    padding: 10px 0; 
  }
  
.btn_login {
    margin: 20px;
    width: 300px;
    padding: 0.75rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }